<div class="friendship-container">



    <div class="search-container">
        <input
          type="text"
          placeholder="Buscar amigos..."
          [(ngModel)]="searchQuery"
          (input)="searchUsers()"
        />
      </div>

      <p *ngIf="searchQuery.length > 0 && users.length === 0">
        Nenhum usuário encontrado.
      </p>


      <ul>
        <li *ngFor="let user of users">
          <a (click)="viewUserProfile(user.name)" class="profile-link">{{ user.name }}</a>
        </li>
      </ul>
      

    </div>

    <div class="friends">
    <h2>Meus Amigos</h2>




    <div *ngFor="let user of friends">
      <h3>{{ user.userName }}'s Friends:</h3>
      <ul>
        <li *ngFor="let friend of user.friendsList">
          {{ friend }}
        </li>
      </ul>
    </div>

<div *ngIf="!friends || friends.length === 0">
  <p>Você ainda não tem amigos.</p>
</div>
  

  </div>

  
    <ng-template #noSuggestions>
      <p>Sem sugestões no momento.</p>
    </ng-template>
  
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>


   

    



  
  