<div class="friendship-container">



    <div class="search-container">
        <input
          type="text"
          placeholder="Buscar amigos..."
          [(ngModel)]="searchQuery"
          (input)="searchUsers()"
        />
      </div>

      <p *ngIf="searchQuery.length > 0 && users.length === 0">
        Nenhum usuário encontrado.
      </p>


      <ul>
        <li *ngFor="let user of users">
          <a (click)="viewUserProfile(user.name)" class="profile-link">{{ user.name }}</a>
        </li>
      </ul>
      

    </div>

    <div class="friends">
     
    
      <div *ngIf="friends.length > 0; else noFriends">
        <div *ngFor="let user of friends" class="friend-card">
          <h3>Lista de amigos: </h3>
          <ul>
            <li *ngFor="let friend of user.friendsList">
              {{ friend }}
            </li>


           
          </ul>
        </div>
      </div>
    
      <ng-template #noFriends>
        <p>Você ainda não tem amigos.</p>
      </ng-template>
    </div>
    

  
    <ng-template #noSuggestions>
      <p>Sem sugestões no momento.</p>
    </ng-template>
  
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>


   

    



  
  