<div class="profile-header">

  <img src="icons8-nome-48.png" alt="Avatar" />

  <h1>
    
    {{ name }}
  </h1>

<div class="options-feed">
  <ul class="list-options">
    <li>
      <a [routerLink]="['/feed']">
        <fa-icon [icon]="faHome"></fa-icon> Home
      </a>
    </li>
    

    <li>
      <a [routerLink]="['/profile']">
        <fa-icon [icon]="faUser"></fa-icon> Perfil
      </a>
    </li>

  </ul>
</div>


<div class="options-feed">
  <ul class=" list-options">
    <li>
      <a [routerLink]="['/messages', userId]">
      <a> <fa-icon [icon]="faCommentAlt"></fa-icon> Recados </a>
    </a>

    <li>
      <a> <fa-icon [icon]="faCommentAlt"></fa-icon> Depoimentos </a>
    </li>


   
  </ul>
</div>

<app-logout></app-logout>
</div>

