.profile-header {
  display: flex;
  flex-direction: column;
  align-items:center;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  height: 35rem;
}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-header h1 {
  font-size: 24px;
  margin: 0 0 10px;
  color: #fff;
}

.list-options {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.list-options li {
  margin-bottom: 10px;
  align-items: center;
  padding: 10px;
}

.list-options a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;

  display: flex;
  align-items: center;
}

.list-options a:hover {
  background: linear-gradient(45deg, #d4af37, #ffc700, #805a1a);
  color: #000;
  border-radius: 100px;


}

.list-options fa-icon {
  margin-right: 8px; 
}