.grid-container {
  display: grid;
  margin-left: 50px;
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto;
  height: 100vh;
}

app-asidebar-left {
  grid-column: 1;
  grid-row: 1;
  background-color: #1b1f23;
  border: 1px solid #f2d335;
  border-radius: 10px;
}

.content {
  grid-column: 2;
  grid-row: 1;
  padding: 20px;
  background-color: #000;
  overflow-y: auto;
}
