.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background-color: #000;
  margin: 0;
  height: 100vh;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items:center;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  
}

.app-request{
 padding: 10px;
  border: 1px solid #fff;
}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-header h1 {
  font-size: 24px;
  margin: 0 0 10px;
  color: #fff;
}

.profile-header p {
  margin: 0 0 10px;
  color: #fff;
}

.profile-header p:hover {
  color: #000;
  background-color: #c69a1b;
}

.list-options {
  display: flex;
  padding: 0;
  margin: 0;
}

.list-options li {
  display: flex;
  justify-content:space-around;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 100%;
  padding: 10px;
  width: 5rem

}

.list-options a {
  flex-direction: column;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.list-options a:hover {
  background: linear-gradient(45deg, #d4af37, #ffc700, #805a1a);
  color: #000;
  border-radius: 100px;
}

.list-options fa-icon {
  margin-right: 8px;
}

app-logout {
 
  margin-right: 10px;
}


.tought-block {
  background-color: #000;
  color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-header .username {
  font-weight: bold;
  margin-left: 10px;
}


.post-header .timestamp {
  color: #888;
  font-size: 0.9rem;
  margin-left: auto;
}

.post-content h3 {
  margin: 0;
  font-size: 20px;
  color: #fff;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 0.9rem;
  color: #555;
}

.post-footer .like-button,
.post-footer .action-button {
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s;
}

.post-footer .like-button:hover,
.post-footer .action-button:hover {
  color: #0056b3;
}

.deslike-button {
  color: #dc3545;
  transition: color 0.3s;
}

.deslike-button:hover {
  color: #bd2130;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.frendship-container{
  border:1px solid #fff;
  text-align: center;
}