.button-style {
  text-decoration: none;
  color: white;
  background-color: transparent;
  padding: 5px 10px;
  border: none;
  font-size: 23px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-style:hover {
  background-color: #555;
  color: #dc3545;

  transform: scale(1.05);
}

.button-style:active {
  color: #dc3545;
  transform: scale(0.95);
}
