.search-bar {
  border:1px solid #fff;
  height: 0rem;
  padding: 20px;
  align-items: center;
  background-color: transparent;
  
  text-align: center;
  font-size: 16px;
  color: #fcfcfc;
  margin-bottom: 2rem;
  outline: none;
}

.search-bar:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #000 inset !important;
  -webkit-text-fill-color: #fcfcfc !important;
}

.search-bar:focus {
  outline: none;
  background-color: transparent;
}




.no-results {
  text-align: center;
  color: #fff;
  margin-top: 20px;
  font-size: 1.2rem;
}

.results {
  margin-top: 20px;
  
}

.results h2 {
  font-size: 1.5rem;
  color: #000a42;
  padding-bottom: 5px;
}

.tought-list {

  list-style-type: none;
  padding: 0;
  margin: 0;

}

.tought-item {

  border-radius: 8px;
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  transition: background-color 0.3s;
}

.tought-item:hover {
  transform: scale(1.05);
}

.tought-title {
  font-size: 1.2rem;
  color: #000a42;
}

.tought-author {
  display: block;
  margin-top: 5px;
  font-size: 0.9rem;
  color: #000a42;
}

.profile-a {
  text-decoration: none;
  color: #0030b6;
}
