<div class="login-container">
  <h2>Cadastre-se!</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="input-group">
      <label for="name">Nome: </label>
      <input
        type="text"
        name="name"
        [(ngModel)]="user.name"
        placeholder="Digite seu nome"
        required
      />
    </div>

    <div class="input-group">
      <label for="username">Nome de usuário: </label>
      <input
        type="text"
        name="username"
        [(ngModel)]="user.username"
        placeholder="Escolha um nome de usuário"
        required
        pattern="^[a-zA-Z0-9_.-]+$"
        title="O nome de usuário só pode conter letras, números, '_' ou '.'"
      />
      <small *ngIf="registerForm.controls['username']?.invalid && registerForm.controls['username']?.touched">
        Nome de usuário inválido.
      </small>
    </div>

    <div class="input-group">
      <label for="email">E-mail: </label>
      <input
        type="email"
        name="email"
        [(ngModel)]="user.email"
        placeholder="Digite seu E-mail"
        required
      />
    </div>

    <div class="input-group">
      <label for="password">Senha: </label>
      <input
        type="password"
        name="password"
        [(ngModel)]="user.password"
        placeholder="Insira sua senha"
        required
      />
    </div>

    <div class="input-group">
      <label for="confirmpassword">Confirme sua senha: </label>
      <input
        type="password"
        name="confirmpassword"
        [(ngModel)]="user.confirmpassword"
        placeholder="Confirme sua senha"
        required
      />
    </div>

    <button type="submit" class="btn" [disabled]="!registerForm.form.valid">
      Cadastrar
    </button>
  </form>

  <div class="footer">
    <p><a href="#">Esqueceu sua senha?</a></p>
    <p>Já possui uma conta? <a href="#">Acesse já!</a></p>
  </div>
</div>
